@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Tomorrow");
@import url("https://fonts.googleapis.com/css?family=Anton");

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
} 

html,
body,
.app {
  height: 100vh; 
}
/* p {
  margin-bottom: 1em;
} */
body {
  margin: 0;
}
.app {
  display: flex;
  flex-direction: column;
}
nav{
  align-self: center;
}
nav a{
  font-family: 'Tomorrow', sans-serif;
  font-size: 2em;
  
}
header {
  display: grid;
  grid-template-columns: 32% 3% 55% 10%;
  right:0;
  left:0;
  margin-top: 0;
}
#title1{
  color: black;
}
#title2{
  color: Red; 
  margin-left: 3px;

}
#sub-title{
  color: black;
  align-self: center;
  margin-left: 10px;
  font-size: 2w;
}
#vr{
  /* border-right-color: black; */
  border-right-width: 5px;
  padding-right: 10px;
  border-right: solid black;
  height: 55%;
  margin-top: 60%;
}

header a{
  text-decoration: none;
  font-family: 'Anton', sans-serif;
  font-weight: bold;
}
header a:hover{
  text-decoration: none;
}
#app-title{
  display:flex;
  width: 30vw;
  font-size: 5vw;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.main {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-y: scroll;
}
.add-item-comp{
  display: flex;
  flex-direction: column;
  width: 45vw;
  margin: 10px auto 30px;
  padding: 15px;
  position: relative;
  background: #fffaf6;
  border-radius: 4px;
  color: #7e7975;
  box-shadow:
      0 2px 2px rgba(0,0,0,0.2),        
      0 1px 5px rgba(0,0,0,0.2),        
      0 0 0 12px rgba(255,255,255,0.4);
}

.add-item-form{
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.add-item-form input, .add-item-form textarea, .add-item-form select{
  margin-bottom: 10px;
}
.image-list{
  width: 40vw;
  margin-bottom: 10px;
}
.new-item-images{
  width: 100px;
  height: 100px;
  padding: 5px;
}
#add-new-item-btn{
  width: 40vw;
}

#selected-image-text{
  width:413px;
}

#selected-image-btn{
  width:80px;
}

footer {
  flex: 0 0 auto;
  padding-top: 20px;
  background-color: lightgrey;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://www.americanmicroinc.com/skin/american_micro_skin/images/page_banner_automotive.jpg');
}
#copyright{
  text-align: center;
  color: white;
}
.im-linkedin, .im-github{
  color: white;
  font-size: 3em;
  margin-right: 10px;
}

/* tabs start */
section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.tab-inputs {
  display: none;
}

.tab-labels {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: silver;
  border: 1px solid transparent;
  font-family: 'Tomorrow', sans-serif;
  font-size: 1.5em;
}

.tab-labels:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tab-labels[for*='1']:before {
  content: '\f00b';
}

.tab-labels[for*='2']:before {
  content: '\f007';
}

.tab-labels[for*='3']:before {
  content: '\f02e';
}
.tab-labels[for*='4']:before {
  content: '\f067';
}

.tab-labels:hover {
  color: #888;
  cursor: pointer;
}

.tab-inputs:checked + .tab-labels {
  color: black;
  border: 1px solid #ddd;
  border-top: 2px solid black;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4{
  display: block;
}

/* tabs end */
/* Login/register form start */

.form-login {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 60px auto 30px;
  padding: 15px;
  position: relative;
  background: #fffaf6;
  border-radius: 4px;
  color: #7e7975;
  box-shadow:
      0 2px 2px rgba(0,0,0,0.2),        
      0 1px 5px rgba(0,0,0,0.2),        
      0 0 0 12px rgba(255,255,255,0.4); 
}

.form-login h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #bdb5aa;
  padding-bottom: 8px;
  border-bottom: 1px solid #EBE6E2;
  text-shadow: 0 2px 0 rgba(255,255,255,0.8);
  box-shadow: 0 1px 0 rgba(255,255,255,0.8);
  margin-bottom: 10px;
}

.form-login h1 .log-in,
.form-login h1 .register{
  display: inline-block;
  text-transform: uppercase;
}

.form-login h1 .log-in {
  color: #6c6763;
  padding-right: 2px;
}

.form-login h1 .register{
  color: #ffb347;
  padding-left: 2px;
}

.form-login .float {
  width: 95%;
  float: left;
  /* padding-top: 15px; */
  border-top: 1px solid rgba(255,255,255,1);
}
#change-password{
  width: 30vw;
}
.form-login .float:first-of-type {
  padding-right: 5px;
}

.form-login .float:last-of-type {
  padding-left: 5px;
}

.form-login label {
  display: block;
  padding: 0 0 5px 2px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1em;
}

.form-login label i {
  margin-right: 5px; /* Gap between icon and text */
  display: inline-block;
  width: 10px;
}

.form-login input[type=text],
.form-login input[type=password],
.form-login input[type=email] {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  display: block;
  width: 100%;
  border: 3px solid #ebe6e2;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.form-login input[type=text]:hover,
.form-login input[type=password]:hover,
.form-login input[type=email]:hover {
  border-color: #CCC;
}

.form-login label:hover ~ input {
  border-color: #CCC;
}

.form-login input[type=text]:focus,
.form-login input[type=email]:focus,
.form-login input[type=password]:focus {
  border-color: #BBB;
  outline: none;
}

.form-login input[type=submit]{
  width: 50%;
  height: 38px;
  float: left;
  position: relative;
  box-shadow: inset 0 1px rgba(255,255,255,0.3);
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1.4em;
  line-height: 38px;
  text-align: center;
  font-weight: bold;
  margin-left: 1%;
  background: #fbd568; 
  background: linear-gradient(#fbd568, #ffb347);
  border: 1px solid #f4ab4c;
  color: #996319;
  text-shadow: 0 1px rgba(255,255,255,0.3);
}

.form-login input[type=submit]:hover{
  box-shadow: 
      inset 0 1px rgba(255,255,255,0.3), 
      inset 0 20px 40px rgba(255,255,255,0.15);
}

.form-login input[type=submit]:active{
  top: 1px;
}
.clearfix{
  align-self: center;
  display: flex;
}
.clearfix .register{
  margin-left: 30px;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: #bdb5aa;
  text-shadow: 0 2px 0 rgba(255,255,255,0.8);
}
.clearfix a{
  text-decoration: none;
}
/* Login/register form end */
/* LISTINGS START */
.listing-image{
  width: 150px;
  height: 100%;
  object-fit: cover;
}
/* LISTINGS END */
/* Listing Detials start */
.listing-row{
  display: flex;
}
#main-pic{
  width: 35vw;
  height: 45vh;
  background-size: contain;
  margin-bottom: 1vh;
  background-repeat: no-repeat;
  margin-left: 3vw;
  margin-left: 3vw;
  margin-top: 30px;
  border: 5px solid black;
}
.listing-pics{
display: flex;
margin-left: 3vw
}
.listing-pic{
width: 80px;
margin-left: 10px;
}
#listing-image-group{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
#listing-details{
display: flex;
}
#ymm,#ymm p{
  display: flex;
  font-family: 'Tomorrow', sans-serif;
  font-size: 1em;
  margin-right: 2px;
}
#listing-details-group{
  font-family: 'Tomorrow', sans-serif;
  font-size: 1.5em;
  margin-top: 20px;
  padding-left: 2vw;
  width: 50vw;
  
}
#grp-details-small{
  font-size: .5em;
}
#listing-details-group button{
  margin-right: 10px;
  background-color: #007BFF;
}
.im-star, .im-star-o {
  /* color: #888; */
  cursor: pointer;
  margin-left: 10px;
  font-weight: normal;
  margin-right: 10px;
  color: red;
  font-size: 2em;
}
/* Listing Detials end */
.edit-item-img-container{  
  position: relative;
  text-align: center;
  color: black;
  width: 100px;
  height: 100px;
  padding: 5px;
}

.delete-img{
  position: absolute;
  top: 20%;
  left: 90%;
  transform: translate(-50%, -50%);
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.delete-image-group{
display: flex;
}
hr{
  border: 1px solid black;
  width: 94vw;
}
.listing-row{
  margin-left: 3vw;
  margin-top: 2vh;
  display: grid;
  height: 20vh;
  grid-template-columns: 25% 60% 15%;
}
#title{
color: black;
}
.badge{
  margin-left: 10px;
}
.im-user-circle{
  font-size: 3.5em;
  color:black;
}
#dropdown-menu-align-right{
  color: white;
  background-color: black;
}
.listing-details-group-ud{
  color: white;
}
/* Burger Menu start */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/* Burger Menu end */
.burger{
  display:none;
}
.mobile-header{
  display: none;
}
@media only screen 
  and (max-width: 800px){
   
    /* #main { 
      background-size: 100% 100%;
      justify-content: flex-start;
    } */
    html {
      font-size: 75%;
    }
    /* #nav {
      width: 90%;
      padding: 0 5% 0 5%;
    } */
    #sub-title{
      color: red;
    }
    .tabs{
      display: none;
    }
    .burger{
      display: flex;
      text-align: center;
    }
    .mobile-header{
      display: block;
      text-align: center;
      font-family: 'Anton', sans-serif;
      font-size: 1.5em;
    }
    header {
      grid-template-columns: 55% 2% 30% 3%;
      margin-top: 3%;
    }
    #app-title{
      margin-left: 40%;
    }
    .listing-image {
      width: 100px;
      height: 80%;
      object-fit: cover;
    }
    .listing-row-details p,a h2{
      margin-left: 10px;
      margin-right: 20px;
    }
    #listing-details {
      flex-direction: column;
      align-self: center;
    }
    #main-pic {
      width: 90vw;
      margin-left: 0px;
      height: 45vh;
    }
    .add-item-comp {
      width: 90vw;
    }
    .add-item-form {
        width: 80vw;
    }
    .input-group {
      width: 80vw;
    }
}