<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <img src="http://garagelistings.surge.sh/gl.png" alt="">
  <h1>Welcome to GarageListings.surge.sh, <%= @user.firstname %></h1>
  <p>
    You have successfully signed up to GarageListings.surge.sh,
    your username is: <%= @user.username %>.<br>
  </p>
  <p>
    To login to the site, just follow this link: http://garagelistings.surge.sh/>.
  </p>
  <p>Thanks for joining and have a great day!</p>
</body>

</html>